body{
    background: #022527;
}
ul{
        padding-left: 0px;
        li{
            list-style-type: none;
            a{
                color: #000;
                &:hover{
                    text-decoration: none;
                    opacity: 0.8;
                    color: #000;
                    
                }
            }
        }   
    }