.screen-banner{
    background: #64880c;
    text-align: center;
    padding: 2em 0 2em 0;
     span{
        text-align: center;
        color: #FFF;
        font-size: 25px;
        font-weight: 300;
    }
    
     .ti{
        font-weight: bold;
        font-size: 15px;
        border: 3px solid #FFF;
        border-radius: 50%;
        padding: 1em;
        margin: 0 2em 0 0;
        color: #FFF;
    }

    .wrap{
        border: 3px solid #FFF;
        border-radius: 50%;
        display:inline-block;
        font-weight: 300;
        margin: 0 1em 0 0;
        padding: 5px;
        .icon{
            font-weight: bold;
            font-size: 20px;
            height: 15px;
            width: 30px;
            color: #FFF;
            display: inline-block;
        }  
    }
   
}

.screen-banner.red{
    background: #ce2832;
    padding: 2em 0 2em 0;
    text-align: center;
    
}

.screen-banner.orange{
    background: #fa764f;
    padding: 2em 0 2em 0;
    text-align: center;

    
}  

